  <h1>{{hlc.message}}</h1>

  <div id = "addHeroDiv">
    <form id ="addHeroForm" class="col-md-12">
      <h3>Add New Hero</h3>
      <div class="form-group col-xs-6 col-md-4">
        <label>Persona</label><br>
        <input ng-model="hlc.newHero.persona" placeholder="persona">
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <label>Alias</label><br>
        <input ng-model="hlc.newHero.alias" placeholder="Alias">
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <label>Power ID</label><br>
        <input ng-model="hlc.newHero.power_id" placeholder="Power ID">
      </div>
      <div class="form-group col-xs-6 col-md-4">
        <button id="formButton" ng-click="hlc.addHero(hlc.newHero)">Add Hero</button>
      </div>
    </form>
  </div>

  <div id = "heroesTable">
    <table align = "center">
      <tr>
        <th>Persona</th>
        <th>Alias</th>
        <th>Power</th>
        <th>Edit</th>
        <th>Remove</th>
      </tr>
      <tr ng-repeat="hero in hlc.heroList.list">
        <td><input ng-model="hero.persona" value = "{{hero.persona}}"/></td>
        <td><input ng-model="hero.alias" value = "{{hero.alias}}"/>{{hero}}</td>
        <td>{{hero.power_id}}</td>
        <td><button ng-click="hlc.editHero(hero)">Edit Hero Info</button></td>
        <td><button ng-click="hlc.killHeroes(hero.id)" type="button" name="button">Hero Has Died</button></td>
      </tr>
    </table>
  </div>
